/*********************/
/* CSS Reset */
/*********************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed,*/
/*figure, figcaption, footer, header, hgroup,*/
/*menu, nav, output, ruby, section, summary,*/
/*time, mark, audio, video {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    /*font-size: 100%;*/
    /*font: inherit;*/
    /*vertical-align: baseline;*/
/*}*/
/*!* HTML5 display-role reset for older browsers *!*/
/*article, aside, details, figcaption, figure,*/
/*footer, header, hgroup, menu, nav, section {*/
    /*display: block;*/
/*}*/
/*body {*/
    /*line-height: 1;*/
/*}*/
/*ol, ul {*/
    /*list-style: none;*/
/*}*/
/*blockquote, q {*/
    /*quotes: none;*/
/*}*/
/*blockquote:before, blockquote:after,*/
/*q:before, q:after {*/
    /*content: '';*/
    /*content: none;*/
/*}*/
/*table {*/
    /*border-collapse: collapse;*/
    /*border-spacing: 0;*/
/*}*/

/*********************/
/* General Settings  */
/*********************/

html, body {
    height: 100%;
    font-family: 'Slabo 27px', serif;
    background: #f2f2f2;
}

.content-wrapper {
    height: 100%;
    padding-top: 8%;
    padding-bottom: 8%;
}

.right-column {
    height: 100%;
    padding-top: 9%;
    padding-bottom: 9%;
}

.left-column {
    overflow-y: scroll;
    height: 0%;
    padding-top: 9%;
    padding-bottom: 9%;
}

@media(min-width:768px) {
    .content-wrapper {
        height: 100%;
        padding: 0;
    }
}

.no-bg {
    background: transparent;
}

.list-group {
    border-radius: 0px;
}

.list-group-item {
    border: none;
    border-radius: 0px;
}

.green {
    background: #1be2a1;
}

.blue {
    background: #43b4bb;
}

.list-group-item:first-child {
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.list-group-item:hover {
    background: #1b9c80;
}

h2 small {
    font-size: 15px;
}

.card-header {
    padding: 5px 5px 5px 10px;
}

.card-header h2 {
    margin-top: 5px;
}

.event {
    margin-bottom: 5%;
}

.tool-bar-icons {
    margin-left: 20px;
}

.padding-15 {
    padding: 15px;
}

h1.main-header {
    font-size: 40px;
    margin-left: 10px;
}

.stick {
    position: fixed;
}

.no-border {
    border: 0px;
    border-radius: 0px;
}
