<md-sidenav class="md-sidenav-left md-whiteframe-4dp fixed-position" layout="column" md-component-id="left" flex>
    <div class="sidenav-toolbar">
        <img ng-src="{{model.loggedInUser.profilePicture}}" class="user-avatar">
        <h3>Username : {{model.loggedInUser.username}}</h3>
        <h3>Name : {{model.loggedInUser.firstName}}</h3>
    </div>

    <md-list>
        <md-item>
            <md-button class="side-nav-button" ng-click="model.goToProfile()">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <i class="material-icons center-vertical-align">account_circle</i>
                    </div>
                    <div class="inset center-vertical-align">
                        Profile
                    </div>
                </md-item-content>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="side-nav-button" ng-click="model.goToCreatePost()">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <i class="material-icons center-vertical-align">create</i>
                    </div>
                    <div class="inset center-vertical-align">
                        Create Post
                    </div>
                </md-item-content>
            </md-button>
        </md-item>

        <md-item ng-show="model.isThisMine()">
            <md-button class="side-nav-button" ng-click="model.editThisPost()">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <i class="material-icons center-vertical-align">format_align_right</i>
                    </div>
                    <div class="inset center-vertical-align">
                        Edit Post
                    </div>
                </md-item-content>
            </md-button>
        </md-item>
        <md-item ng-show="model.isThisMine()">
            <md-button class="side-nav-button" ng-click="model.deleteThisPost()">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <i class="material-icons center-vertical-align">delete</i>
                    </div>
                    <div class="inset center-vertical-align">
                        Delete Post
                    </div>
                </md-item-content>
            </md-button>
        </md-item>
        <md-item ng-show="!model.isThisMine()">
            <md-button class="side-nav-button" ng-click="model.imGoing()">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <i class="material-icons center-vertical-align">play_arrow</i>
                    </div>
                    <div class="inset center-vertical-align">
                        Going
                    </div>
                </md-item-content>
            </md-button>
        </md-item>
        <md-item ng-show="!model.isThisMine()">
            <md-button class="side-nav-button" ng-click="model.imInterested()">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <i class="material-icons center-vertical-align">add_alert</i>
                    </div>
                    <div class="inset center-vertical-align">
                        Interested
                    </div>
                </md-item-content>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="side-nav-button" ng-click="model.logout()">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <i class="material-icons center-vertical-align">power_settings_new</i>
                    </div>
                    <div class="inset center-vertical-align">
                        Logout
                    </div>
                </md-item-content>
            </md-button>
        </md-item>
        <div class="bottom-bar">
            <md-button class="md-fab md-primary md-whiteframe-4dp" ng-click="model.toggleLeft()">
                <i class="material-icons center-vertical-align">cancel</i>
            </md-button>
        </div>
    </md-list>
</md-sidenav>

<md-toolbar class= "tool-bar-color">
    <div class="md-toolbar-tools">
        <a class="menu-icons" ng-click="model.goBack()">
            <i class="material-icons">arrow_back</i>
        </a>
        <span>
            <a href="#/user">
                <h1 class="main-header">Connexion</h1>
            </a>
        </span>
        <span flex=""></span>
        <a class="menu-icons" href="" ng-click="model.goToSearch()" ><i class="tool-bar-icons material-icons">search</i></a>
        <a class="menu-icons" href="" ng-click="model.goToProfile()" hide-sm hide-xs><i class="tool-bar-icons material-icons">account_circle</i></a>
        <a class="menu-icons" href="" ng-click="model.goToCreatePost()" hide-sm hide-xs><i class="tool-bar-icons  material-icons">create</i></a>
        <a class="menu-icons" href="" ng-click="model.logout()" hide-sm hide-xs><i class="tool-bar-icons material-icons">power_settings_new</i></a>
        <a ng-click="model.toggleLeft('')" class="menu-icons" hide-gt-sm>
            <i class="tool-bar-icons material-icons">more_vert</i>
        </a>
        <!--<md-button ng-click ="model.clickTweet('This is a sample tweet from view')" hide-sm hide-xs>Tweet!</md-button>-->
    </div>
</md-toolbar>

<div class="container">
    <div class="content-wrapper">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 right-column ">
            <section id="details-section">
                <md-card>
                    <md-toolbar class="md-accent">
                        <div class="md-toolbar-tools">
                            <h1>{{model.post.postName}}</h1>
                        </div>
                    </md-toolbar>
                    <div id="details" class="my-height" layout-padding>
                        <div layout="row">
                            <div flex="50">Name :</div>
                            <div flex="50"><a ng-click="model.goToUser()" class="anchor-link"> {{model.post.organizer}}</a></div>
                        </div>
                        <md-divider></md-divider>
                        <div layout="row">
                            <div flex="50">Contact :</div>
                            <div fliex="50"> {{model.post.email}}</div>
                        </div>
                        <md-divider></md-divider>
                        <div layout="row">
                            <div flex="50">Phone :</div>
                            <div flex="50"> {{model.post.phone}}</div>
                        </div>
                        <md-divider></md-divider>
                        <div layout="row">
                            <div flex="50">Location of event :</div>
                            <div flex="50"> {{model.post.address}}</div>
                        </div>
                        <md-divider></md-divider>
                        <div layout="row">
                            <div flex="50">Event date :</div>
                            <div flex="50"> {{model.post.dateOfEvent | date:'yyyy-MM-dd' }}</div>
                        </div>
                        <md-divider></md-divider>
                        <div layout="column">
                            <div>Event Description:</div>
                            <br>
                            <md-content class="white">
                                <div class="pre-whitespace"> {{model.post.description}}</div>
                            </md-content>
                        </div>
                    </div>
                    <div id="images" class="my-height" layout-padding>
                        <div id="carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner image-height" role="listbox">
                                <div class="item" ng-class='{active:$first}' ng-repeat="image in model.post.pictures track by $index">
                                    <img ng-src="{{image}}" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" data-target="#carousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" data-target="#carousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div layout="row">
                        <md-button id="details-button" flex="50">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </md-button>
                        <md-button id="images-button" flex="50">
                            <i class="fa fa-camera" aria-hidden="true"></i>
                        </md-button>
                    </div>
                </md-card>
            </section>
            <section id="comments-section" class="comment-section">
                <md-card>
                    <md-content>
                        <md-toolbar>
                            <div class="md-toolbar-tools">
                                Comments
                            </div>
                        </md-toolbar>
                        <div layout="row">
                            <input ng-model="model.newComment" class="searchBox" placeholder="New comment" aria-label="Search">
                            <md-button ng-disabled="!model.isLoggedIn()" aria-label="send" ng-click="model.sendComment(model.newComment)">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </md-button>
                        </div>
                        <md-list flex layout-padding>
                            <md-list-item class="md-2-line" ng-repeat="comment in model.post.comments | orderBy:'-dateCreated' track by $index " ng-click="null">
                                <img ng-src="{{comment.profilePicture}}" class="md-avatar" />
                                <div class="md-list-item-text" layout="column">
                                    <p> {{ comment.username }} </p>
                                    <h3>{{ comment.text }}</h3>
                                </div>
                                <md-divider ></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-card>
            </section>

        </div>
        <div class="hidden-xs hidden-sm col-md-4 col-lg-4 left-column">
            <div class="stick">
                <div class="col-xs-12">
                    <div class="panel stats-panel">
                        <ui-gmap-google-map center='model.map.center' zoom='model.map.zoom'>
                            <ui-gmap-marker coords="model.marker" idKey='3'>
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                </div>
                <div class="col-xs-12">
                    <!-- Here Here Here -->
                    <div ng-show="!model.isThisMine()" layout="row" class="margin-bottom">
                        <md-button class="md-raised login-button white-color" ng-click="model.imGoing()" flex> Going </md-button>
                        <md-button class="md-raised md-primary" ng-click="model.imInterested()" flex> Interested </md-button>
                    </div>
                    <div ng-show="model.isThisMine()" layout="row" class="margin-bottom">
                        <md-button ng-click="model.editThisPost()" class="md-default md-raised" flex>Edit Post</md-button>
                        <md-button ng-click="model.deleteThisPost()" class="md-warn md-raised" flex>Delete</md-button>
                    </div>
                    <div class="panel">
                        <table class="table table-striped m-b-none">
                            <thead>
                            <tr>
                                <th>Statistics</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>People going</td>
                                <td class="text-success">
                                    {{model.post.noOfPeopleGoing}}
                                </td>
                            </tr>
                            <tr>
                                <td>People Interested</td>
                                <td class="text-success">
                                    {{model.post.noOfPeopleTalkingAbout}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="panel">
                        <table class="table table-striped m-b-none">
                            <thead>
                            <tr>
                                <th>Organizer Stats</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Number events organized</td>
                                <td class="text-success">
                                    {{model.posts.length}}
                                </td>
                            </tr>
                            <tr>
                                <td>Rating of organizer</td>
                                <td class="text-warning">
                                    {{model.user.rating}}
                                </td>
                            </tr>
                            <tr>
                                <td>Location of organizer</td>
                                <td class="text-danger">
                                    Boston
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>