<md-bottom-sheet class="md-list md-has-header ">
    <md-subheader>
        Options
    </md-subheader>
    <md-list>
        <md-item ng-repeat="item in model.items">
        <md-item-content md-ink-ripple flex class="inset" layout="column">
            <md-button flex class="bottom-sheet-button" aria-label="{{item.name}}" ng-click="model.listItemClick($index)">
                <div layout="row">
                    <span>
                        <i class="material-icons">{{item.icon}}</i>
                        {{item.name}}
                    </span>
                </div>
            </md-button></md-item-content>
        </md-item>
    </md-list>
</md-bottom-sheet>