<md-toolbar class= "md-whiteframe-9dp">
    <div class="fa-white md-toolbar-tools center">
        <span flex=""></span>
        <h2>
            <span>Connexion</span>
        </h2>
        <span flex=""></span>
        <md-button aria-label="Open Settings" ng-click="model.showListBottomSheet($event)">
            <i class="tool-bar-icons material-icons">more_vert</i>
        </md-button>
    </div>
</md-toolbar>

<br>
<br>
<br>
<br>
<br>

<div>
    <a class="btn btn-block btn-primary" href="#/login">Login</a>
    <a class="btn btn-block btn-info" href="#/register">Register</a>
</div>