<div class= "md-whiteframe-9dp navbar-fixed-top">
    <div class="md-toolbar-tools white">
        <a class="menu-icons" href="" ng-click="model.goBack()"><i class="tool-bar-icons material-icons">arrow_back</i></a>
        <input ng-model="model.searchText" class="searchBox" placeholder="Search...this searches user-names, post-names and post-tags" aria-label="Search">
        <!--<span flex=""></span>-->
        <!--<span flex=""></span>-->
    </div>
</div>

<div class="container">
    <div class="content-wrapper">
        <div class="left-column">
            <div id="user_results" class="container-fluid">
                <strong>Users</strong>
                <hr style="border-color: #434343">
                <div ng-repeat="d in model.users | filter:{username:model.searchText} track by $index " class="col-sm-4 col-md-4 col-lg-4">
                    <div ng-click="model.goToThisProfile(d)" class="thumbnail padding-15 md-whiteframe-2dp">
                        <a href="">
                            <img class="img-responsive img-circle" ng-src="{{d.profilePicture}}" alt="..." height="100" width="100">
                        </a>
                        <div class="caption text-center">
                            <h4>  {{d.firstName + " " +d.lastName}}</h4>
                            <h6> {{ d.username }}</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div id="post_results" class="container-fluid">
                <strong>Posts</strong>
                <hr style="border-color: #434343">
                <div ng-repeat="d in model.posts track by $index" class="col-sm-4 col-md-4 col-lg-4">
                    <div ng-click="model.goToThisPost(d)" class="thumbnail padding-15 md-whiteframe-2dp">
                        <img class="img-responsive" ng-src="{{d.pictures[0]}}" alt="...">
                        <div class="caption text-center">
                            <h4> {{ d.postName }}</h4>
                            <div class="inline">
                                <div ng-repeat="tag in d.tags track by $index" class="badge">
                                    {{tag}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>