<md-sidenav class="md-sidenav-left md-whiteframe-4dp fixed-position" layout="column" md-component-id="left" flex>
    <div class="sidenav-toolbar">
        <div ng-if="model.loggedInUser!=='0'">
            <img ng-src="{{model.loggedInUser.profilePicture}}" class="user-avatar">
            <h3>Username : {{model.loggedInUser.username}}</h3>
            <h3>Name : {{model.loggedInUser.firstName}}</h3>
        </div>
        <div ng-if="model.loggedInUser==='0'">
            <span><br><br></span>
        </div>
    </div>
    <md-list>
        <md-item>
            <md-button class="side-nav-button" ng-click="model.goToCreatePost()">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <i class="material-icons center-vertical-align">create</i>
                    </div>
                    <div class="inset center-vertical-align">
                        Create Post
                    </div>
                </md-item-content>
            </md-button>
        </md-item>
        <md-item>
            <md-button class="side-nav-button" ng-click="model.logout()">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <i class="material-icons center-vertical-align">power_settings_new</i>
                    </div>
                    <div class="inset center-vertical-align">
                        Login/Logout
                    </div>
                </md-item-content>
            </md-button>
        </md-item>
        <div class="bottom-bar">
            <md-button class="md-fab md-primary md-whiteframe-4dp" ng-click="model.toggleLeft()">
                <i class="material-icons center-vertical-align">cancel</i>
            </md-button>
        </div>
    </md-list>
</md-sidenav>

<md-toolbar class="tool-bar-color">
    <div class="md-toolbar-tools">
        <a class="menu-icons" ng-click="model.goBack()">
            <i class="material-icons">arrow_back</i>
        </a>
        <span>
            <a href="#/user">
                <h1 class="main-header">Connexion</h1>
            </a>
        </span>
        <span flex=""></span>
        <a class="menu-icons" href="" ng-click="model.goToSearch()" ><i class="tool-bar-icons material-icons">search</i></a>
        <a class="menu-icons" href="" ng-click="model.goToCreatePost()" hide-sm hide-xs><i class="tool-bar-icons  material-icons">create</i></a>
        <a class="menu-icons" href="" ng-click="model.logout()" hide-sm hide-xs><i class="tool-bar-icons material-icons">power_settings_new</i></a>
        <a ng-click="model.toggleLeft('')" class="menu-icons" hide-gt-sm>
            <i class="tool-bar-icons material-icons">more_vert</i>
        </a>
    </div>
</md-toolbar>


<div class="container">
    <div class="content-wrapper">
        <div class="left-column">
            <div class="col-sm-12 col-md-4">
                <div> <h2 class="margin-0">Profile</h2> </div>
                <div class="panel">
                    <div class="text-center profile-panel">
                        <a ng-show="model.user.profilePicture" href="" class="inline">
                            <img ng-src="{{model.user.profilePicture}}" class="img-circle padding-15" width="100">
                        </a>
                        <div>
                            <h3 class="margin-0" style="padding-top: 15px"> {{model.user.firstName + " " +model.user.lastName}}</h3>
                            <p class="padding-15"> {{ model.user.headline }}</p>
                        </div>
                    </div>
                    <hr class="margin-0">
                    <div class="padding-15">
                        <div>
                            <p> {{model.user.tagline}}</p>
                        </div>
                        <hr class="margin-0">
                        <div style="margin-top: 5px">
                            <p><strong>About</strong></p>
                            <p class="pre-whitespace"> {{model.user.bio}} </p>
                        </div>
                        <div layout="row" layout-align="center center" layout-wrap>
                            <div flex></div>
                            <a ng-show="model.user.fblink" class="profile-links"> <i class="fa fa-facebook"></i> </a>
                            <a ng-show="model.user.twtrlink" class="profile-links"> <i class="fa fa-twitter"></i> </a>
                            <div flex></div>
                        </div>
                    </div>
                </div>

                <section ng-show="model.isThisMine()" layout="row" layout-sm="row" layout-align="center">
                    <md-button class="md-raised md-primary" ng-click="model.editThisProfile()"> Edit </md-button>
                    <md-button class="md-raised md-warn" ng-click="model.deleteThisProfile()"> UnRegister </md-button>
                </section>
                <section layout="row" layout-sm="row"  layout-align="center">
                    <span>Rating({{model.user.rating}})</span>
                    <md-slider-container>
                        <md-slider flex md-discrete min="0" max="5" ng-model="model.user.rating" ng-disabled="!model.loggedInUser">
                        </md-slider>
                    <md-input-container>
                </section>

                <div class="panel stats-panel">
                    <table class="table table-striped m-b-none">
                        <thead>
                        <tr>
                            <th>Stats</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Events hosted</td>
                            <td class="text-success">
                                {{model.eventsHosted}}
                            </td>
                        </tr>
                        <tr>
                            <td>Popularity</td>
                            <td class="text-warning">
                                {{model.poplarity}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div> <h2 class="margin-0">User events</h2> </div>

                <div class="event-list">
                    <div class="event" ng-repeat="d in model.data | filter:{postName:searchText}" ng-class="model.isThisPostOpen(d)">
                        <div class="container-fluid">
                            <div class="container-fluid details-card">
                                <h2>{{d.postName}}  <span href="" ng-click="model.goToPostDetails(d)"><small class="details-dial"> Details </small></span> </h2>
                                <span class="md-subhead yellow-color" ng-click="model.goToUserProfilePage(d)">{{d.organizer}}</span>
                                <a href="" class="md-subhead">{{d.address}}</a>
                                <md-divider></md-divider>
                                <p class="pre-whitespace">{{d.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>