<md-toolbar class= "md-whiteframe-9dp navbar-fixed-top">
    <div class="md-toolbar-tools">
        <!--<span flex=""></span>-->
        <i class="material-icons">menu</i>
        <span>
            <a href="#/user">
                <h1 class="main-header">Connexion</h1>
            </a>
        </span>
        <span flex=""></span>
        <a class="menu-icons" href="" ng-click="model.goToSearch()"><i class="tool-bar-icons material-icons">search</i></a>
        <a class="menu-icons" href="" ng-click="model.goToCreatePost()"><i class="tool-bar-icons  material-icons">create</i></a>
        <a class="menu-icons" href="" ng-click=""><i class="tool-bar-icons material-icons">more_vert</i></a>
    </div>
</md-toolbar>


<div class="container">
    <div class="content-wrapper">
        <div class="left-column">
            <div class="col-sm-12 col-md-4">
                <div> <h2 class="margin-0">Profile</h2> </div>
                <div class="panel">
                    <div class="text-center profile-panel">
                        <a href="" class="inline">
                            <img ng-src="http://lorempixel.com/90/90/" class="img-circle padding-15">
                        </a>
                        <div>
                            <h3 class="">Vineeth R.</h3>
                        </div>
                        <p>
                            I am Building something.
                        </p>
                    </div>
                    <hr class="margin-0">
                    <div class="padding-15">
                        <div>
                            <p> Hello My name is Vineeth. I like playing games and drinking</p>
                        </div>
                        <hr class="margin-0">
                        <div style="margin-top: 5px">
                            <p><strong>About</strong></p>
                            <p>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. </p>
                        </div>
                        <div layout="row" layout-align="center center" layout-wrap>
                            <div flex></div>
                            <a class="profile-links"> <i class="fa fa-facebook"></i> </a>
                            <a class="profile-links"> <i class="fa fa-twitter"></i> </a>
                            <a class="profile-links"> <i class="fa fa-linkedin"></i> </a>
                            <div flex></div>
                        </div>
                    </div>
                </div>

                <section layout="row" layout-sm="row" layout-align="center">
                    <md-button class="md-raised md-primary" ><span> + </span>Friend</md-button>
                    <md-button class="md-raised md-warn" >Block</md-button>
                </section>

                <div class="panel stats-panel">
                    <table class="table table-striped m-b-none">
                        <thead>
                        <tr>
                            <th>Stats</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Events hosted</td>
                            <td class="text-success">
                                <i class="fa fa-level-up"></i> 40%
                            </td>
                        </tr>
                        <tr>
                            <td>Popularity</td>
                            <td class="text-warning">
                                <i class="fa fa-level-down"></i> 5%
                            </td>
                        </tr>
                        <tr>
                            <td>Customer increase</td>
                            <td class="text-danger">
                                <i class="fa fa-level-down"></i> 20%
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-sm-12 col-md-8">
                <div> <h2 class="margin-0">User events</h2> </div>
                <div class="event-list">
                    <div class="event md-whiteframe-5dp" ng-repeat="d in model.data | filter:{postName:searchText}" ng-class="model.isThisPostOpen(d)">
                        <div class="container-fluid">
                            <h2>{{d.postName}} <span href="" ng-click="model.goToPostDetails(d)"><small>Details</small></span></h2>
                            <span class="md-subhead">{{d.organizer}}</span>
                            <a href="#" class="md-subhead">{{d.address}}</a>
                            <hr>
                            <p>{{d.description}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>