<div class="login-panel">
    <md-card flex-gt-xs="50" flex-xs="75" class="center-box">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Login</span>
            </md-card-title-text>
        </md-card-title>
        <div ng-show="model.error"
             class="alert alert-danger alert-dismissable ">
            {{model.error}}
        </div>
        <md-card-content>
            <form  layout-gt-xs="column" layout-xs="column">
                <md-input-container>
                    <label class="small-label">User Name</label>
                    <input ng-model="model.user.username">
                </md-input-container>
                <md-input-container>
                    <label class="small-label">Password</label>
                    <input type="password" ng-model="model.user.password">
                </md-input-container>
                <md-card-actions layout="column" layout-align="start">
                    <md-button class="md-default md-raised button-text" ng-click="model.login(model.user)">Login</md-button>
                    <md-button class="md-default md-raised button-text twitter-button" href="/auth/twitter">
                        <i class="fa fa-twitter white-icons"></i>
                        <span class="space-left">Twitter</span>
                    </md-button>
                    <md-button class="md-accent md-raised button-text" ng-click="model.goToRegister()">Register</md-button>
                </md-card-actions>
            </form>
        </md-card-content>
    </md-card>
</div>

