<div class="login-panel">
    <md-card flex-gt-md="25" flex-gt-xs="45" flex-xs="90" class="center-box">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Login</span>
            </md-card-title-text>
        </md-card-title>
        <div ng-show="model.error"
             class="alert alert-danger alert-dismissable ">
            {{model.error}}
        </div>
        <md-card-content>
            <form name="userForm"  layout-gt-xs="column" layout-xs="column" ng-submit="model.submit()">
                <md-input-container ng-class="{ 'has-error': userForm.username.$invalid }">
                    <label class="small-label">User Name</label>
                    <input type="text" name="username" ng-model="model.user.username" required>
                </md-input-container>
                <md-input-container ng-class="{ 'has-error': userForm.password.$invalid }">
                    <label class="small-label">Password</label>
                    <input type="password" name="password" ng-model="model.user.password" required>
                </md-input-container>
                <md-card-actions layout="column" layout-align="start">
                    <md-button class="md-default md-raised button-text white-color login-button" ng-click="model.login(model.user)">Login</md-button>
                    <md-button class="md-default md-raised button-text twitter-button white-color"  href="/auth/twitter">
                        <i class="fa fa-twitter white-color"></i>
                        <span class="space-left">Twitter</span>
                    </md-button>
                    <md-button class="md-accent md-raised button-text white-color" ng-click="model.goToRegister()">Register</md-button>
                    <md-button class="md-default md-raised button-text" href="#/user">Continue As Guest</md-button>
                </md-card-actions>
            </form>
        </md-card-content>
    </md-card>
</div>

